.venv
/build/
*.egg-info
*.pyc
/.idea/
/venv/
__pycache__

# Include data and outputs directories, but with exceptions below
/data/
/outputs/

# Exception for .py and .sh files in data and outputs directories
!/data/**/*.py
!/data/**/*.sh
!/outputs/**/*.py
!/outputs/**/*.sh