.venv
/build/
*.egg-info
*.pyc
/.idea/
/venv/
__pycache__

# Include data and outputs directories, but with exceptions below
/data/
/outputs/

*.npy

# Exception for .py and .sh files in data and outputs directories
# data/**/*.txt
# data/**/*.png
# data/**/*.npy
# data/**/*.jpeg
# data/**/*.jpg
# data/**/*.zip
# data/**/*.mat
# data/**/*.YAML
# data/**/*.json
# data/**/*.h5
# data/**/*.pkl
# data/megadepth
# data/megadepth1500
# data/finnForest
# data/m2fnet
# data/revisitop1m
# data/SynPhoRest

