albumentations==1.4.7
h5py==3.11.0
joblib==1.4.2
kornia==0.7.2
matplotlib==3.9.0
mkl==2021.4.0
mkl_service==2.4.0
numpy==1.26.4
omegaconf==2.3.0
opencv_python==4.9.0.80
packaging==24.0
parameterized==0.9.0
Pillow==10.3.0
pytlsd==0.0.2
scikit_learn==1.5.0
scipy==1.13.1
seaborn==0.13.2
setuptools==69.5.1
torch==2.3.0
torchvision==0.18.0
tqdm==4.66.4
